---
---

@import "{{ site.theme }}";

#downloads {
  display: none;
}

header h1:before {
  content: "./";
  font-size: 24px;
}

#main_content a:link,
#main_content a:visited,
#main_content a:hover {
   color: inherit;
}

body {
  position: relative;
}

footer {
  background: rgba(0, 0, 0, 0.1);
  width: 100%;
  border-top: 1px dashed $conifer; //header;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}

footer h2 {
  font-size: 18px;
  font-weight: 300;
  color: #666;
}
