---
---

@import "{{ site.theme }}";

#downloads {
  display: none;
}

header h1:before {
  display: none;
}

.header a {
  text-decoration: none;
}

#main_content a:link,
#main_content a:visited,
#main_content a:hover {
   color: inherit;
}

footer {
  background: rgba(0, 0, 0, 0.1);
  border-top: 1px dashed $conifer;
}

footer h2 {
  font-size: 18px;
  font-weight: 300;
  color: #666;
}

html, body {
  height: 100%;
  margin: 0;
}

.wrapper {
  min-height: 100%;
  margin-bottom: -30px;
}

.footer,
.push {
  height: 30px;
  padding: 10px;
}


